
body {
  background-color: #dcf6ff;
  padding: 0px 28px;
  font-family: 'Fredoka One', cursive;
}
h1{
 font-size: 29px;
}
a{
 font-size: 18px;
 color: blueviolet(0,28,233);
 text-decoration: none;
}
.grande {
  font-size: 19px;
}

#aprender :{
  border: 5px solid rebeccapurple;
  border-radius: 28px;
  padding: 50px 120px;
  max-width: 75%;
  margin: 15px auto;
  background-color: rgb(144, 148, 105);
  color: rgb(80, 70, 70);
  font-size: 30px;
  font-weight: 300;
  text-decoration: overline;
  text-align: center;
  cursor: cell;
  letter-spacing: 20px;
  text-transform: uppercase;
}

#aprender:hover {
  border: 5px solid rgb(54, 153, 51);
  border-radius: 5px;
  background-color: rgb(192, 176, 201);
  color: rgb(23, 13, 167);
  text-decoration: underline;
}

  
  